@import "tailwindcss";
@config "../tailwind.config.ts";

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 90px;
}

body {
  color: #2b2b2b;
  background: #ffffff;
  font-family: var(--font-noto-sans-jp), sans-serif;
}
